*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

h2{
  color: 'green';
}